section {
    display: block;
    margin: 10px 2px 0px;
    font-size: 13px;
}

section > h2 {
    padding-left: 15px;
    margin-top: 1em;
    margin-bottom: 0.5em;
    background-color: transparent;
    background-image: url(/_images/icon/orange-dot.jpg);
    background-position: 0px center;
    background-repeat: no-repeat;
    font-size: 1em;
}

section > p {
    padding-left: 15px;
    margin: 0.5em 0px;
    text-align: justify;
}

.article {
    font-family: Arial, Helvetica, sans-serif;
}

.article p {
    margin: 0.5em 0px;
    line-height: 20px;
    text-align: justify;
}

.article ul {
    padding: 0px;
    margin: 0px;
}

.article ul > li {
    margin: 10px 2px 0px;
    padding: 0px;
    background-image: none;
    list-style-type: none;
    font-size: 13px;
}

.article ul > li > h2 {
    padding-left: 15px;
    margin-top: 1em;
    margin-bottom: 0.5em;
    background-color: transparent;
    background-image: url(/_images/icon/orange-dot.jpg);
    background-position: 0px center;
    background-repeat: no-repeat;
    font-size: 1em;
}

.article ul > li > p {
    padding-left: 15px;
}

.article ul > li > p.-tal {
    text-align: left;
}


div.material_line {
    margin: 10px 0px 0px;
}